.header-main {
	padding: 17px 0;
background-color: $blue;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 25px;
	}
	&__logo {
	}
	&__popup {
		display: none;
	}

	}
	.icon-menu{
		position: relative;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width:40px;
		height: 40px;
		cursor: pointer;
		z-index: 5;
		border-radius: 2px;
		span{
			position: absolute;
			@include anim(0.3s,0s);
			margin-bottom: 2px;
			width: 13px;
			height: 2px;
			background-color: $blue;
			&:first-child {
				top: 15px;
			}
			&:last-child {
				bottom: 13px;
			}
		}
		&._active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top:18px;}
				&:last-child{@include rotate(45deg);bottom: 18px;}
			}
		}
	}
@media(min-width: $md4) {
	.header-main {
			&__container {
				padding: 0 53px 0 30px;
				
			}
}
}
@media(min-width: $md3) {
	.header-main {
			&__container {
				padding: 0 44px 0 41px;
			}
}
}
@media(min-width: $mw) {
	.header-main {
			&__container {
				padding: 0 150px 0 61px;
			}
}}