
.projects {
	text-align: center;
	background: linear-gradient(to bottom, #2B4074, #fff);
	&__container {
		padding: 20px 0 40px 0;
	}

	&__title {
	}

	&__gallery {
	}
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	line-height: 24px;
	font-weight: normal;
	&__w {
		color: #fff;
	}
	&::after {
		margin-top: 20px;
		margin-bottom: 20px;
		content: "";
		width: 50px;
		height: 8px;
		background-color: #fff;
	}
}
.gallery-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__item {
		margin-top: 20px;
	}

	&__bg {
		display: none;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		background-color: rgba($color: #F9F6E5, $alpha: 0.8);
		height: 100%;
		border-radius: 4px;
		width: 100%;
	}
	&__wrap-boutic {

		background-image: url("/img/Portfolio-1.jpg");
	}

	&__link {
		margin:0 7px ;
		z-index: 2;
		width: 12%;
		height: 14%;
		img,
		source {
			height: 100%;
			width: 100%;
		}
	}

	&__label {
		margin-top: 20px;
		font-size: 16px;
		line-height: auto;
		letter-spacing: 2px;
		color: $blue;
	}

	&__wrap-build {
		background-image: url("/img/Portfolio-2.jpg");
	}

	&__wrap-coffee {
		background-image: url("/img/Portfolio-3.jpg");
	}

	&__wrap-unicum {

		background-image: url("/img/Portfolio-4.jpg");

	}
	&__wrap {
		display: flex;
		width: 280px;
		border-radius: 4px;
		height: 250px;
		padding: 10px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		&:hover {
			.gallery-projects__bg{
				display: flex;
			}

		}

	}
}
@media(min-width: $md4) {
	.projects {
		&__container {
			padding: 40px 60px;
		}

}

.title {
font-size: 48px;
line-height: auto;
&::after {
	margin-top: 50px;
	margin-bottom: 30px;
	content: "";
	width: 100px;
	height: 8px;
	background-color: #fff;
}
}
.gallery-projects {
		&__wrap {
			width: 518px;
			height: 460px;
		}

		&__label {
			font-size: 20px;
			line-height: auto;
		}
}

	}
	@media(min-width: $md3) {
		.projects {

			&__container {
			}
	
			&__title {
			}
	
			&__gallery {
			}
	}

	.title {
		&::after {
			margin-top: 50px;
			margin-bottom: 50px;
			content: "";

		}
			&__w {
			}
	}
	.gallery-projects {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
			&__item {
				margin-top: 30px;
			}
	
			&__wrap {
				width: 317.5px;
				height: 283px;
			}
	
			&__wrap-boutic {
			}
	
			&__bg {
			}
	
			&__link {
			}
	
			&__label {
				margin-top: 30px;
			}
	
			&__wrap-build {
			}
	
			&__wrap-coffee {
			}
	
			&__wrap-unicum {
			}
	}
	
		}
	@media(min-width: $md2) {
		.projects {
			&__container {
				padding: 80px 180px;
			}
	
			&__title {
			}
	
			&__gallery {
			}
	}
	.title {
	
			&__w {
			}
	}
	.gallery-projects {
		align-items: center;
		justify-content: space-between;
			&__item {
			}
	
			&__wrap {
			}
	
			&__wrap-boutic {
			}
	
			&__bg {
			}
	
			&__link {
			}
	
			&__label {
				font-size: 16px;
			}
	
			&__wrap-build {
			}
	
			&__wrap-coffee {
			}
	
			&__wrap-unicum {
			}
	}
	
		}
	@media(min-width: $mw) {
		.projects {
			&__container {
				padding: 80px 151px;
			}


	}
	.gallery-projects {

		&__wrap {
			width: 268px;
			height: 239px;
		}

		&__wrap-boutic {
		}

		&__bg {
		}

		&__link {
		}
}

		}